@model IEnumerable<Events>
@{
    ViewData["Title"] = "Index";
}

<!--Duyurular-->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <ul class="nospace group cta">
           @await Component.InvokeAsync("Events")
        </ul>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
    <div class="container">
        <h3 class="text-center">DÜZENLEDĞİMİZ ETKİNLİKLER</h3>
        <p class="text-center pb-3">Daha fazla detay için etkinliklere tıklayabilirsiniz</p>
        <table class="table table-hover">
            <thead>
                <tr><th class="w-10">#</th><th class="w-20">Başlık</th><th>İçerik</th></tr>
            </thead>
            <tbody>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>1</td><td class="row-title">Pilav Günü</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                @{ var index = 1;}
                @foreach (var item in Model)
                {
                    <tr data-source="@(item.PhotoPath==null?"~/img/Defaults/320x220.png":item.PhotoPath)" data-content="@item.Content"><td>@index</td><td class="row-title">@item.Title</td><td class="row-preview-content">@item.Content...</td></tr>
                    @(index++)
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{ 
    <script>

         //duyurulara click olduğunda yapılacakalr
        $('.one_third').on('click', function () {
            var content = $(this).find('p').text();
            var title = $(this).find('h6.heading').text();
            var image = $(this).data('image');
            
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal img').attr('src',image);
            $('.modal').modal();
        });

        $('tbody tr').on('click', function () {

            let title = $(this).find('.row-title').text();
            let content = $(this).find('.row-preview-content').text();
            let source = $(this).data('source');

            $('.modal img').attr('src', source);
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal').modal();

        });

        //document ready popup
        $(document).ready(function () {

            $("ul.events:has(li)").parent().addClass('hasList');
            if ($('ul.events').hasClass('hasList')) {
                var content = $('.popup').find('p').text();
                var title = $('.popup').find('h6.heading').text();
                var image = $('.popup').data('image');

                $('.modal img').attr('src', image);
                $('.modal .modal-body').text(content);
                $('.modal .modal-title').text(title);
                $('.modal').modal();

            }
        });


    </script>
}