@model IEnumerable<Moments>
<div class="row moments">


    @if (Model.Count() > 0)
    {
        if (Model.Count() >= 3)
        {
            foreach (var item in Model)
            {
                <div class="col-md-4">
                    <article>
                        <img class="btmspace-30" src="~/img/@(item.CoverPhotoPath==null ? "Defaults/320x220.png" : "Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                        <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left custom-orange">
                                @item.SenderName
                            </li>
                        </ul>
                        <hr>
                        <p>@item.Content.Substring(0, 50)&hellip;</p>

                    </article>
                </div>
            }
        }
        else if (Model.Count() == 2)
        {
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <article>
                        <img class="btmspace-30" src="~/img/@(item.CoverPhotoPath==null ? "Defaults/320x220.png" : "Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                        <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left custom-orange">
                                @item.SenderName
                            </li>
                        </ul>
                        <hr>
                        <p>@item.Content.Substring(0, 50)&hellip;</p>

                    </article>
                </div>
            }
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <article>
                        <img class="btmspace-30" src="~/img/@(item.CoverPhotoPath==null ? "Defaults/320x220.png" : "Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                        <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                        <ul class="nospace btmspace-10 group font-xs">
                            <li class="fl_left custom-orange">
                                @item.SenderName
                            </li>
                        </ul>
                        <hr>
                        <p>@item.Content.Substring(0, 50)&hellip;</p>

                    </article>
                </div>
            }
        }

    }
    else
    {
        <div class="alert alert-danger">İçerik Yok</div>
    }
</div>