@model IEnumerable<Moments>
<p class="momentsslider">
    <a class="left-arrow">
        <span></span>
    </a>
    <a class="right-arrow">
        <span></span>
    </a>
</p>
<div class="row moments" style="justify-content:center">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <article>
                    <img class="btmspace-30" style="height:220px;width:320px;"  src="@(item.CoverPhotoPath==null ? "/img/Defaults/320x220.png" : "/img/Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                    <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                    <ul class="nospace btmspace-10 group font-xs">
                        <li class="fl_left custom-orange">
                            @item.SenderName
                        </li>
                    </ul>
                    <hr>
                    <p>
                        @if (item.Content.Length > 50)
                        {
                            @Html.Raw(item.Content).ToString().Take(50)
                        }
                        else
                        {
                            @Html.Raw(item.Content)
                        }
                        &hellip;
                    </p>

                </article>
            </div>
        }





        @*if (Model.Count() >= 3)
            {

            }
            else if (Model.Count() == 2)
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <article>
                            <img class="btmspace-30" src="@(item.CoverPhotoPath==null ? "/img/Defaults/320x220.png" : "/img/Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                            <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                            <ul class="nospace btmspace-10 group font-xs">
                                <li class="fl_left custom-orange">
                                    @item.SenderName
                                </li>
                            </ul>
                            <hr>
                            <p>
                                @if (item.Content.Length > 50)
                                {
                                    @Html.Raw(item.Content).ToString().Take(50)
                                }
                                else
                                {
                                    @Html.Raw(item.Content)
                                }&hellip;
                            </p>

                        </article>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-12">
                        <article>
                            <img class="btmspace-30" src="@(item.CoverPhotoPath==null ? "/img/Defaults/320x220.png" : "/img/Moments/"+item.CoverPhotoPath)" alt="@item.CoverPhotoPath">
                            <h4 class="nospace btmspace-10 font-x1 uppercase">@item.Title</h4>
                            <ul class="nospace btmspace-10 group font-xs">
                                <li class="fl_left custom-orange">
                                    @item.SenderName
                                </li>
                            </ul>
                            <hr>
                            <p>
                                @if (item.Content.Length > 50)
                                {
                                    @Html.Raw(item.Content).ToString().Take(50)
                                }
                                else
                                {
                                    @Html.Raw(item.Content)
                                }&hellip;
                            </p>

                        </article>
                    </div>
                }
            }*@

    }
    else
    {
        <div class="alert alert-danger">İçerik Yok</div>
    }
</div>